<form action="/forums" method="post">
  <label>Author: </label>
  <input type= "text" name= "forum[author]" placeholder= "Full Name"/>
  <label>Title: </label>
  <input type="text" name= "forum[title]"/>
  <label>Subject: </label>
  <input type="text" name= "forum[subject]"/>
  <textarea name="forum[content]"></textarea>
  <input type="submit" value="Post"/>
</form>
