<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forums App</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
  <div class="header">
    <h1 class="header-text">The Arcanaeum</h1>
  <div class="nav-bar">
    <button class="nav home" type="button">Forums</button>
    <button class="nav login" type="button">Login</button>
    <button class="nav register" type="button">Sign-Up</button>
    <form>
      <input type="text" placeholder="Search..." required>
      <input type="button" value="Search">
    </form>
  </div></div>
  <%- body %>
</body>
</html>
